@font-face{
	src:url(../fonts/OpenSans-Regular.ttf);
	font-family:open-sans;
}
@font-face{
	src:url(../fonts/OpenSans-Bold.ttf);
	font-family:open-bold;
}
h1,h2,h3,h4,h5,h6,p,span{
	font-family:open-sans;
}
a{
	text-decoration:none;
	font-family:open-sans;
}
header{
	z-index:10;
	position:fixed;
	left:0;
	right:0;
	top:0;
	opacity:0.5;
	transition:all.9s ease;
	background-color:#fff;
}
header.sticky{
	opacity:1;
	background-color:white;
}
.logo img{
	margin-left:30px;
	float:left;
	margin-top:10px;
}
nav{
	float:right;
	margin-top:10px;
	margin-right:30px;
}
nav ul li{
	display:inline-block;
}
nav ul li a{
	color:#202020;
	border:1px solid transparent;
	padding:9px 15px;
	display:block;
	font-size:14px;
}
nav ul li a:hover{
	border:1px solid #202020;
}
.slider{
	background-image:url(../img/3.jpg);
	text-align:center;
	background-size:cover; 
	padding-bottom:245px;
}
.slider p{
	padding-top:220px;
	color:#202020;
	font-size:22px;
	padding-bottom:20px;
}
.slider h1{
	font-size:76px;
	padding-bottom:30px;
	font-family:open-bold;
}
.slider a{
	border:1px solid #202020;
	height:50px;
	line-height:50px;
	color:#202020;
	display:inline-block;
	width:150px;
}
.slider a:hover{
	box-shadow:inset 0 0 20px #CCC;
}
.bg-color{
	background-color:#202020;
	position:relative;
}
.welcome-pic{
	width:50%;
}
.welcome-pic img{
	width:100%;
}
.about{
	position:absolute;
	top:188px;
	left:98px;
}
.about h1{
	font-family:open-bold;
	font-size:266px;
	color:#f6f6f6;
	opacity:0.1;
}
.welcome{
	position:absolute;
	top:112px;
	right:0;
	margin-right:251px;
}
.welcome h1{
	font-size:36px;
	color:#fff;
	font-family:open-bold;
	margin-bottom:50px;	
}
.welcome p{
	font-size:12px;
	line-height:20px;
	color:#fff;
	margin-bottom:32px;
}
.welcome ul li{
	display:inline-block;
	font-size:12px;
	color:#bea67c;
}
.welcome ul li a{
	color:#bea67c;
}
.welcome ul li a:hover{
	color:#CCC;
}
.container{
	width:1170px;
	margin:0 auto;
}
.stuff h1{
	font-family:open-bold;
	color:#202020;
	margin-top:100px;
	margin-bottom:40px;
	font-size:38px;
}
.stuff img{
	margin-bottom:50px;
	box-shadow:0px 0px 20px #e6e2df;
}
.one-third{
	width:30%;
	float:left;
	text-align:center;
	margin-right:39px;
}
.font-area{
	margin-bottom:85px;
}
.font-area i{
	font-size:40px;
	color:#b39a72;
	margin-bottom:30px;
}
.font-area h6{
	font-family:open-bold;
	color:#202020;
	margin-bottom:20px;
}
.font-area p{
	font-size:12px;
	line-height:16px;
	color:#626262;
}
.bg-2{
	padding-top:95px;
	padding-bottom:95px;
	background-color:#202020;
}
.awesome h1{
	font-family:open-bold;
	color:#FFF;
	margin-bottom:60px;
	font-size:60px;
	margin-bottom:
}
.one-third img{
	margin-bottom:22px;
}
.btn{
	margin-top:20px;
	text-align:center;
}
.btn a{
	width:135px;
	background-color:#b0976d;
	color:#FFF;
	font-size:12px;
	display:inline-block;
	line-height:52px;
	border:1px solid #b0976d;
	height:52px;
}
.bg-3{
	background-color:#f3f3f3;
}
.interior-1,.interior-2{
	margin-top:100px;
	margin-bottom:100px;
}
.interior-1{
	width:45%;
	margin-right:10%;
	float:left;
}
.interior-2{
	width:45%;
	float:right;
}
.interior-1 h1{
	font-size:60px;
	margin-bottom:50px;
	color:#202020;
	font-family:open-bold;
}
.interior-1 p{
	line-height:20px;
	color:#202020;
	margin-bottom:33px;
}
.interior-1 ul{
	margin-bottom:80px;
}
.interior-1 ul li{
	display:inline-block;
	font-size:14px;
	color:#bea67c;
}
.interior-1 ul li a{
	color:#bea67c;
}
.interior-1 ul li a:hover{
	color:#CCC;
}
.interior-1 h2{
	font-size:150px;
	color:#b7a17b;
	font-family:open-bold;
}
.interior-2 img{
	margin-top:140px;
	box-shadow:0px 0px 15px #bdbdbd;
}
.public h1{
	margin-top:97px;
	margin-bottom:50px;
	font-family:open-bold;
	font-size:50px;
	color:#202020;	
}
.latest{
	text-align:left;
	margin-bottom:25px;
	box-shadow:0px 0px 10px 3px #ddd;
}
.latest img{
	width:100%;
}
.latest hr{
	width:30px;
	margin-bottom:10px;
	color:#202020;
	border:1px solid #202020;
	display:inline-block;
}
.latest h5{
	margin-bottom:10px;
	color:#202020;
	font-family:open-bold;
}
.latest p span{
	color:#626262;
	font-size:14px;
}
.latest p{
	margin-bottom:20px;
	line-height:20px;
	color:#202020;
}
.latest button{
	width:104px;
	background-color:#b0976d;
	border:none;
	color:white;
	line-height:30px;
	font-size:12px;
	margin-bottom:35px;
	height:30px;
}
.mg-l{
	margin-left:25px;
}
footer{
	margin-top:100px;
}
.contact textarea{
	width:440px;
	height:130px;
	box-sizing:border-box;
	padding-left:15px;
	padding-top:10px;
	font-family:open-sans;
	background-color:#202020;
	border:1px solid #dddddd;
	margin-bottom:16px;
}
.contact input{
	margin-bottom:16px;
	width:440px;
	font-family:open-sans;
	padding-left:15px;
	box-sizing:border-box;
	border:1px solid #dddddd;
	background-color:#202020;
	height:40px;
}
.bg{
	top:353px;
}
.contact{
	margin-right:135px;
}
.contact button{
	width:155px;
	height:50px;
	background-color:#b0976d;
	border:none;
	color:#fff;
	font-family:open-sans;
}
.contact h2{
	font-family:open-bold;
	color:white;
	margin-top:45px;
	margin-bottom:30px;
}
.contact p span{
	line-height:40px;
	margin-bottom:30px;
}
.last-pic img{
	height:1060px;
}
.contact li{
	margin-right:8px;
}
.contact ul li a{
	color:#fff;
}
.last-foot{
	height:67px;
	line-height:67px;
}
.last-foot img{
	float:left;
	margin-top:20px;
}
.last-foot p span{
	float:right;
	font-size:14px;
	color:#202020;
}